<div class="menu__container">
  <div [routerLink]="['']" class="logo">
    <span>Museu Nacional</span>
  </div>
  <div class="menu">
    <a class="mobile" href="">
      <span>Menu</span>
    </a>
    <ul class="main__menu">
      <a href="">
        <li class="active"><span>Exposições</span></li>
      </a>
      <a href="">
        <li>Nossa missão</li>
      </a>
      <a href="">
        <li>Eventos</li>
      </a>
    </ul>
    
      <a href="">
        <span class="contact__button">Fale conosco</span>
        
      </a>
    
  </div>
</div>
